*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: inline-block;
}

/* design */
/* mobile - 375px */
/* tablet - 768 */
/* desktop - 1140 */

